@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");

html,
body {
  margin: auto;
  max-width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 60px;
}
.header {
  background-color: #a28089;
  color: #fff;
}
.image {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 2rem;
}

.footer {
  padding-bottom: 10px;
  border-top: 1px solid black;
  text-align: center;
  background-color: rosybrown;
}

.navbar {
  text-align: right;
}

.navbar a {
  padding: 5px;
  border: 2px solid black;
  margin: 0.5cm;
  border-radius: 30px;
  text-decoration: none;
}

.option {
  display: inline-block;
  margin: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 1.3rem;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

.info {
  text-align: center;
  padding: 5%;
}

.social-icons {
  display: inline-block;

  padding: 15px;
  font-size: 3rem;
}

.social-icons a {
  padding: 5px;
  color: #fff;
}

.github {
  color: black;
}

.instagram {
  color: #f0337b;
}

.linkedin {
  color: #0e76a8;
}

.about-div {
  text-align: left;
  margin-left: 120px;
  padding: 10px;
}
.about {
  background-color: #6affa4;
  position: relative;
  margin-top: -50px;
  margin-bottom: -10px;
}

.skills {
  padding-left: 40px;
}

.projects {
  padding-left: 40px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.item {
  padding: 10px 30px;
}

.portfolio-div {
  margin-left: 120px;
}

.portfolio {
  background-color: #0e76a8;
  padding: 2rem;
  color: #333;
}

.blocks {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  font-size: 20px;
}

.block {
  flex: 1;
  background: #000;
  text-align: center;
  height: 250px;
  min-width: 180px;
  flex: 1 4 200px;
  transition: 0.6s all;
  border: 2px solid #6affa4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1em 2rem;
  flex-shrink: 1;
  color: white;
}

.block:hover {
  transform: scale(1.1);
}

.title {
  flex: 1 2;
  padding: 1rem 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  font-size: 0.85rem;
  font-weight: 400;
  flex: 4 2;
}

.link {
  text-decoration: none;
  color: inherit;
  text-decoration-color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: 0.875rem;
  font-weight: 400;
}

.link a:link {
  border: 1px solid #fff;
  margin: 1em;
  padding: 0px 10px;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  transition: 0.4s all;
  border-radius: 10px;
}

.contact {
  background-color: #6affa4;
  text-align: center;
  margin-top: -20px;
  padding: 2em;
}

.msg-btn {
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 15px;
  border: 3px solid #000;
  transition: 0.4s all;
}
.final {
  display: inline-block;
  border: #000 solid;
  margin: 20px;
  border-radius: 10%;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 1.3rem;
  box-sizing: border-box;
  position: relative;
}
.wrap {
  padding: 10px;
}
.msg-btn:hover {
  color: #fff;
  background-color: #000;
}

input,
textarea {
  outline: none;
  border: none;
}

.input {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #333;
  line-height: 1;
  padding: 0 2px;
}

.focus-input {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: inline;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: #7f7f7f;
}

input.input {
  height: 20px;
}

textarea.input {
  min-height: 50px;
  padding-top: 9px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.has-val.input + .focus-input::before {
  width: 100%;
}
